
/* For testing purposes: {outline: 1px solid gray;} */

@import url('https://fonts.googleapis.com/css?family=Bellefair|Montserrat|Allura');


body {font-family: 'Bellefair', serif;}

h1 {font-family: 'Allura', cursive;}
h1 {
    font-size: 2.5rem;
    margin: 0px;
  }

h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif;}
h2 {font-size: 1.35rem;}
p {line-height: 1.25em;}
nav {font-size: 1.75em;}

.gray {
  background-color: #ded9d3;
}

.menu a {
  padding-left: 10px;
}

a:hover {
  background-color: #b2a799;
}

.art {
  padding: 10px;
}

.art:hover {
  background-color: #b2a799;
}

.pad {
  padding-top: 10px;
}

article, header, footer {
  background-color: #ded9d3;
}

li {
  /*padding-left: 10px; */
  margin-right: 4px;}

aside {
  background-color: white;
}

.padpic {
  padding-left: 25px;
}

.outline {border: 1px solid black;}

.blackcat {
  z-index: 10;
  display: block;
  width: 126px;
  height: 108px;
  position:relative;
  top: 50px;
  left: 40px;
  background-image: url("../images/black-cat.jpg");
  animation: play 2s steps(10) infinite;
}

@keyframes play {
  100% { background-position: -1260px; }
}

/* testing and editing styles */

/* ul, h1, h2, h3, aside, article {
  border: 1px solid green;
} */
